[class*="entypo-"]:before { font-family: 'entypo', sans-serif;}

div[class^="bh_"], 
div[class^="bh_"]:before, 
div[class^="bh_"]:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#less_categories {
  display: none;
}
.more_list_wrap {
  height: 0;
  overflow: hidden;
}
.facet_helper_wrap {
  padding: 10px;
}
a.facet_helper {
  font-weight: normal;
}
.bizybox {
    background-color: #f5f5f5;
    border: 1px solid;
    display: block;
    padding: 12px;
    font-size: 17px;
}

.bh_row:before, .bh_row:after {content: " ";display: table;}
.bh_row:after {clear: both;}
.bh_row {margin-left: -15px;margin-right: -15px;}
.bh_row * {box-sizing:border-box;}
.bh_row a {transition:.25s all linear;}

.bh_col-md-1,.bh_col-md-2,.bh_col-md-3,.bh_col-md-4,.bh_col-md-5,.bh_col-md-6,.bh_col-md-7,.bh_col-md-8,.bh_col-md-9,.bh_col-md-10,.bh_col-md-11,.bh_col-md-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width:992px){.bh_col-md-1,.bh_col-md-10,.bh_col-md-11,.bh_col-md-12,.bh_col-md-2,.bh_col-md-3,.bh_col-md-4,.bh_col-md-5,.bh_col-md-6,.bh_col-md-7,.bh_col-md-8,.bh_col-md-9{float:left}.bh_col-md-12{width:100%}.bh_col-md-11{width:91.66666667%}.bh_col-md-10{width:83.33333333%}.bh_col-md-9{width:75%}.bh_col-md-8{width:66.66666667%}.bh_col-md-7{width:58.33333333%}.bh_col-md-6{width:50%}.bh_col-md-5{width:41.66666667%}.bh_col-md-4{width:33.33333333%}.bh_col-md-3{width:25%}.bh_col-md-2{width:16.66666667%}.bh_col-md-1{width:8.33333333%}.bh_col-md-offset-12{margin-left:100%}.bh_col-md-offset-11{margin-left:91.66666667%}.bh_col-md-offset-10{margin-left:83.33333333%}.bh_col-md-offset-9{margin-left:75%}.bh_col-md-offset-8{margin-left:66.66666667%}.bh_col-md-offset-7{margin-left:58.33333333%}.bh_col-md-offset-6{margin-left:50%}.bh_col-md-offset-5{margin-left:41.66666667%}.bh_col-md-offset-4{margin-left:33.33333333%}.bh_col-md-offset-3{margin-left:25%}.bh_col-md-offset-2{margin-left:16.66666667%}.bh_col-md-offset-1{margin-left:8.33333333%}.bh_col-md-offset-0{margin-left:0}}

.bh_list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.bh_list-title {
	text-transform: capitalize;
	display: inline-block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bh_badge {
	float: right;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #999;
	border-radius: 10px;
}

.bh_block-link {text-decoration:none;}
.bh_block-link h5 {color:inherit;}
.bh_col-md-4:nth-of-type(3n+1) {clear: left;}
.bh_panel {padding:0;margin:0 -5px;border-radius:0;box-shadow:none;border:0;}
.bh_panel .bh_address {color:#333;}
.bh_panel p {color:inherit;line-height:1.5;margin:0;}
.bh_panel a {display:block;padding:10px 10px 15px;}
.bh_panel a.bh_inactive {color:inherit;pointer-events:none;}
.bh_panel a:hover {text-decoration:none;background:rgba(0,0,0,.05);}

/* Pagination styles */
.bh_row .page-numbers {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.bh_row .page-numbers>li {
  display: inline;
}
.bh_row .page-numbers>li>a, 
.bh_row .page-numbers>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius:0;
  margin-left: -1px;
}
.bh_row .page-numbers .current {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.bh_business-search input[type="search"] {width:100%;max-width: 100%;line-height:2;padding:.5em;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.bh_business-search {position:relative;float: right;}
.bh_business-search:before {font-family: 'entypo';content: "\1f50d";position:absolute;right:1.25em;top:.5em;opacity:.5;font-size:20px;font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;}

.bh_section {margin-bottom:30px;}

.bh_breadcrumb {
  padding: 0 0 10px;
  margin-bottom: 20px;
  list-style: none;
}
.bh_breadcrumb>li {
  display: inline-block;
}
.bh_breadcrumb>li+li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #CCC;
}

.bh_dl-horizontal {word-break: break-word;word-wrap: break-word;}
.bh_dl-horizontal dd {margin:0 0 0 90px;}
.bh_dl-horizontal dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight:bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
}

.bh_button {
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.5;
  text-decoration:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.bh_local-nav h5 {padding:10px;background:#000;color:#fff;margin:0;}
.bh_business-header-title h3 {font-size:24px;  margin:0 0 20px;}
.bh_business-header {border-bottom:0;margin-bottom:15px;}
.bh_panel {border-top:1px solid #ccc;}
.bh_alert {padding:15px;background:rgba(0,0,0,.05);margin:15px 0;}
.bh_alert p {margin:5px 0;}
.bh_claim {padding:15px;border:1px solid #ccc;margin-bottom:10px;}
.bh_claim h6 {margin-top:0;}
.bh_section h5 {margin-bottom:10px;}
.bh_button:hover {transform:scale(1.1);text-decoration:none;}
.bh_breadcrumb {margin:-15px 0 0;font-size:1.25em;}
.bh_list-group-item {padding:10px;}
.placeholder-logo {display:block;border:1px solid #ccc;background:#eee;color:#999;font-weight:bold;width:100%;height:120px;line-height:120px;text-align:center;margin-bottom:10px;}
.bh_business-avatar {display:block;border:1px solid #ccc;width:100%;margin-bottom:10px;}

span.entypo-star {position:relative;top:-1px;}
.bh_jumbotron {text-align:center;padding: 30px 0 60px;font-size:1.5em;}
.bh_jumbotron .bh_button {display:inline-block;font-size:1em;font-weight:700;padding:1em 2em;margin:auto;}
.bh_pricing h5 {font-size:1.5em;font-weight:700;margin:1em 0 .5em;}
.bh_lead {font-size:1.25em;}
.bh_upcoming {margin:1em 0;}
.bh_upcoming h6 {font-size:1em;margin:1em 0 .5em;}
.bh_upcoming dl, .bh_upcoming dd, .bh_upcoming dt {margin:0;}
/* image gallery */

.bh_gallery-list {margin:-15px -15px 15px;}
.bh_gallery-thumb {width:25%;padding:15px 15px 0;float:left;}
.bh_gallery-list .bh_gallery-thumb a {box-shadow:0 0 0 1px;overflow:hidden;display:block;border-radius:4px;transition:.25s transform ease-in-out;} 
.bh_gallery-list .bh_gallery-thumb a:hover {box-shadow:0 0 0 1px,0 5px 15px rgba(0,0,0,.25);transform:scale(1.25);position:relative;z-index:2;}
.bh_main-content .bh_gallery-thumb img {margin:0;max-width:100%;}
.bh_gallery-list h6,
.bh_gallery-list figcaption {padding:10px 0 0;height:32px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.bh_image-gallery {padding:20px 0;margin:20px 0;border:1px solid rgba(0,0,0,.25);border-width:1px 0;}
.bh_image-gallery .bh_gallery-list {margin:-5px;text-align:center;}
.bh_image-gallery .bh_gallery-thumb {width:24%;padding:5px;margin:0;float:none;display:inline-block;vertical-align:middle;}
.bh_image-gallery .bh_gallery-list figcaption,
.bh_image-gallery .bh_gallery-thumb:nth-child(n+5) {display:none;}
@media (max-width: 992px) {
    .bh_gallery-list .bh_gallery-thumb {width:33%;}
}
@media (max-width: 768px) {
    .bh_gallery-list .bh_gallery-thumb {width:50%;}
}
